<h1>Créditos</h1>
<a href=“https://quiz-2017-ap.herokuapp.com/help”> Ayuda</a>
<p>
    Esta práctica ha sido desarrollada por  Alejandro Pérez Parra.
    Cuenta Github: <a href=“https://github.com/lopoloalex/quiz_2017”> https://github.com/lopoloalex/quiz_2017 </a>
</p>

<img src="/images/Alejandro.JPG” />

