@@ -0,0 +1,11 @@
<h1>Ayuda</h1>

<p>
    Proyecto Quiz 2017: 
 Permite múltiples usuarios compartiendo adivinanzas
 Proyecto educativo para mostrar:
 Arquitectura de una aplicación Web del lado servidor
 Metodologías de desarrollo
 Los elementos más importantes de un portal Web 
</p>

